*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.aux
*.log
*.out
*.toc
/*.pdf
/final_presentation/*.pdf
/first_presentation/*.pdf
/documentation/*.pdf
**/*-converted-to.pdf
*.bbl
*.blg
*.lof
*.lot
*.lol
*.nav
*.snm
*.thm
*.zip
/build
/build/*
/.vscode
